@function changeColor($type, $color) {
  @if $type == light {
    $newColor: lighten($color, 10%);
    @return $newColor;
  }
  @else if $type == dark {
    $newColor: darken($color, 30%);
    @return $newColor;
  }
  @else if $type == comp {
    $newColor: complement($color);
    @return $newColor;
  }
  @else {
    $newColor: $color;
    @return $newColor;
  }
}

@mixin card($bgcolor, $txtcolor, $icon, $badge: 'OK') {
  width: 20%;
  display: table;
  background-color: $bgcolor;
  background-image: url($icon);
  background-repeat: no-repeat;
  background-position: bottom right;
  background-size: 20%;
  border-radius: 8px;
  margin-right: 32px;
  margin-top: 32px;
  padding: 32px;
  height: 400px;
  color: $txtcolor;
  position: relative;
  transition: all 0.2s ease-in-out;

  &:after {
    content: 'status: ' + $badge;
    position: absolute;
    top: 16px;
    right: 16px;
    background: black;
    color: #FFF;
    padding: 6px 10px;
    border-radius: 3px;
  }

  &:hover {
    background-color: changeColor(dark, $bgcolor);
  }
}

@mixin btn($bgcolor, $txtcolor) {
  border: none;
  height: 40px;
  padding: 8px 32px;
  border-radius: 4px;
  background-color: $bgcolor;
  color: $txtcolor;
  font-size: 16px;
}

@mixin btn-large($height:60px, $fontsize:28px) {
  height: $height;
  font-size: $fontsize;
}

.card-positive {
  @include card(#60e860, black, 'images/chart-up.svg', 'Bão demais');
}

.card-negative {
  @include card(#f68e7e, black, 'images/chart-down.svg', 'Deu ruim');
}

.btn {
  @include btn(black, white);
}

.btn-large {
  @include btn(black, white);
  @include btn-large;
}